.cards {
  background-color: #f7f7f7;
}
.creditCards {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.creditCards  span {
  padding-right: 20px;
}
